{
  "presets": [
    "flow",
    ["es2015", {
      "modules": false
    }],
    ["env", { "modules": false }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    ["react-loadable/babel", {
      "server": true,
      "webpack": true
    }]
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ],
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
